* {
    box-sizing: border-box;
}

body {
    margin: 50px 0px;
    height: 100%;
    /* border: 2px solid black; */
}

.header {
    padding: 15px 0;
    /* background-color: grey; */
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
    /* width: 10px;
    height: 10px; */
}

.address-text {
    font: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #2f95da;
    text-transform: capitalize;
}

.address-book {
    color: #42515f;
}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: normal normal bold 24px/37px Roboto;
    /* font-family: 'Baloo Bhai 2', cursive; */
    letter-spacing: 0px;
    color: whitesmoke;
    text-transform: capitalize;
    opacity: 1;
    padding: 20px 20px;
    /* border: 2px solid black; */
    text-align: center;
    background: #008CFF;
    border-radius: 10px;
}

.master {
    margin-left: 36%;
}

.form-cross {
    border: 2px solid black;
    padding: 0px 6px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.form-cross:hover {
    color: white;
    border: 3px solid white;
}

.column-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    /* border: 2px solid red; */
    margin-left: 85px;
}

.label {
    min-width: 140px;
    text-align: justify;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 1px;
}

.column-content .column-address {
    padding-top: 80px;
    /* height: 40px; */
}


/* .select-content{
     display: flex;
     flex-direction: row;
 } */

#startdate {
    border: 2px solid black;
}

.row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid green; */
    /* align-items: center; */
}

.city-content {
    /* border: 1px solid purple; */
    /* margin: 48px 2px; */
    padding: 2px 2px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.state-content {
    /* border: 1px solid purple; */
    /* margin: 48px 2px; */
    padding: 2px 2px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.three {
    /* border: 1px solid purple; */
    /* margin: 48px 2px; */
    padding: 2px 2px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

error-output {
    font-size: 14px;
    font-style: bolder;
    color: rgb(148, 9, 9);
}

.buttonParent {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 330px;
    padding: 5px 5px;
}

.submitButton {
    padding: 5px 15px;
    font-size: 15px;
    background-color: #609acaFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #00000029;
}

.resetButton {
    padding: 5px 20px;
    font-size: 15px;
    background-color: #609aca;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 6px 6px 6px #00000029;
}

.resetButton:hover {
    background-color: rgb(201, 196, 130);
}

.submitButton:hover {
    background-color: rgb(201, 196, 130);
}