
    html body{
        height: 100vh;
        background-image: url(https://th.bing.com/th/id/OIP.iLSs5mRaZrnj30SKCnUfwwHaEo?w=298&h=186&c=7&r=0&o=5&dpr=1.25&pid=1.7);
        background-repeat: no-repeat;
        background-size: cover;
}